*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* .container{
    max-width: 1170px;
    margin: 0 auto;
} */

[class*="col-"]{
    background-color:  #0099ff;
    height: 40px;
    text-align: center;
    border: 1px solid white;
    color: white;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container1{
    margin-bottom: 16px;
}

.container1 .row .col-6 .row .col-2{
    background-color: #00e600;
    border:5px solid #0099ff;
}

.container1 .row .col-6 .row .col-8{
    background-color: #00e600;
    border:5px solid #0099ff;
}

.container1 .row .col-6 .row .col-6{
    background-color: #00e600;
    border:5px solid #0099ff;
}

.container2 , .container3, .container4, .container5, .container6 {
    margin-bottom: 10px;
}

.container4{
    height: 100%;
}


.container5 .center{
    justify-content: center;
}

.container5 .end{
    justify-content: flex-end;
}

/* .container5 .top{
    justify-content: top;
} */

/* .container6 {
    height: 50px;
    background-color: #0099ff;
    justify-content: space-around;
    padding: 5px;
}

.container6 .row .col-offset1 .col-2{
    background-color: #00e600;
} */

