*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* .container{
    max-width: 1170px;
    margin: 0 auto;
} */

[class*="col-"]{
    background-color:  #0099ff;
    height: 40px;
    text-align: center;
    border: 1px solid white;
    color: white;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container1{
    margin-bottom: 16px;
}

.container1 .row .col-6 .row .col-2{
    background-color: #00e600;
}

.container2 , .container3, .container4 {
    margin-bottom: 10px;
}


